*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  monospace;
    text-align: center;
    margin: 2rem;
}  
nav{
    
    overflow: hidden;
    border:5px solid blue;

    border-radius: 2rem;
    max-width: 400px;
    font-size: 3rem;
    line-height: 5rem;
    margin: 0 auto ;
}
h1{
    padding: 1rem;
    background:gold ;
    border-radius: 2rem 2rem 0 0;
}
ul{
    list-style-type:  none;  
}
li{
    border-top: 1px solid;
}
li a{
    display: block;
}
a{
    text-decoration: none;
    color: blue;
}
a:visited{
    color: rgb(0, 0, 0);
}
a:active{
    color: brown;
}
li a:hover{
    background-color: darkorange;
}

